<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>
</head>

<div class="container">
    <h1>Project Clarity</h1>
    <h2>Todo's</h2>
    <hr/>
    <div>
        <ul class="list">
            <li>To-do list item 1</li>
            <li>To-do list item 2</li>
            <li>Look up existing css frameworks</li>
            <li>Style to-do list web application in found css frameworks</li>
        </ul>
    </div>
    <form>
        <label for="newTodo">New todo:</label>
        <input type="text" name="newTodo" id="newTodo">
        <button class="btn btn-primary">Add new todo</button>
    </form>
</div>

</html>